@media (max-width: 575px) {
    .header {
        &__logo {
            margin-left: 12px;
            width: 175px;
        }
        &__official {
            margin: 0 auto;
        }
        &__phone {
            font-size: 16px;
        }
        &__contacts {
            margin-right: 12px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .benefit {
        max-height: none;
        &__items {
            align-items: center;
            flex-direction: column;
            margin-top: 38px;
        }
        &__item {
            margin-bottom: 34px;
        }
        &__subheader {
            margin-top: 18px;
        }
        &__descr {
            margin-top: 12px;
        }
    }
}